
<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
<script>

let container = document.createElement('div')
let main = document.querySelector('main')


for (let i = 0; i < 5; i++) {
        let container = document.createElement('div')
        container.innerHTML = `
<div class="glider-contain multiple">
<h3>
    Learn
</h3>

<button class="glider-prev" id="glider-next${i}">
    <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-left&color=fff" width="32" height="32">
</button>

<div class="glider${i}">
        <div class="playlist-block" id="PL2i45rkiJctKEb-qYO10Iq9dCtXBlJn9Y"><img 
            src="https://i.ytimg.com/vi/lRHq7sMRWpU/default.jpg"
            alt=""></div>
    <div class="playlist-block" id="PL1328115D3D8A2566"><img 
            src="https://i.ytimg.com/vi/uhxtUt_-GyM/default.jpg"
            alt=""></div>
    <div class="playlist-block" id="PL7AF1C14AF1B05894"><img 
            src="https://i.ytimg.com/vi/vDqOoI-4Z6M/default.jpg"
            alt=""></div>
    <div class="playlist-block" id="PLAD5B880806EBE0A4"><img
            src="https://i.ytimg.com/vi/ihNZlp7iUHE/default.jpg"
            alt=""></div>
    <div class="playlist-block" id="PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab"><img
            src="https://i.ytimg.com/vi/fNk_zzaMoSs/default.jpg"
            alt=""></div>
            
</div>

<button class="glider-next" id="glider-next${i}">
    <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-right&color=fff" width="32" height="32">
</button>
</div>`
        main.appendChild(container)


        new Glider(document.querySelector(`.glider${i}`), {
                slidesToShow: 5,
                slidesToScroll: 1,
                draggable: true,
                arrows: {
                prev: `#glider-prev${i}`,
                next: `#glider-next${i}`
                }
        });             
}

const nodes = document.querySelectorAll('.playlist-block')

nodes.forEach(node => {
        let playlistId = node.getAttribute('id')

        node.addEventListener('click', () => {
                window.location.href = "/playlist/" + playlistId
        })
})

</script>
