<div class="glider-contain multiple">

    <h3>
        Learn
    </h3>

    <button class="glider-prev" id="glider-next0">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-left&color=fff" width="32" height="32">
    </button>

    <div class="glider0">
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
    </div>

    <button class="glider-next" id="glider-next0">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-right&color=fff" width="32" height="32">
    </button>
</div>

<div class="glider-contain multiple">

    <h3>
        Learn
    </h3>

    <button class="glider-prev" id="glider-next1">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-left&color=fff" width="32" height="32">
    </button>

    <div class="glider1">
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
    </div>

    <button class="glider-next" id="glider-next1">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-right&color=fff" width="32" height="32">
    </button>
</div>

<div class="glider-contain multiple">

    <h3>
        Learn
    </h3>

    <button class="glider-prev" id="glider-next2">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-left&color=fff" width="32" height="32">
    </button>

    <div class="glider2">
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
    </div>

    <button class="glider-next" id="glider-next2">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-right&color=fff" width="32" height="32">
    </button>
</div>

<div class="glider-contain multiple">

    <h3>
        Learn
    </h3>

    <button class="glider-prev" id="glider-next3">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-left&color=fff" width="32" height="32">
    </button>

    <div class="glider3">
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
    </div>

    <button class="glider-next" id="glider-next3">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-right&color=fff" width="32" height="32">
    </button>
</div>

<div class="glider-contain multiple">

    <h3>
        Learn
    </h3>

    <button class="glider-prev" id="glider-prev4">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-left&color=fff" width="32" height="32">
    </button>

    <div class="glider4">
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
        <div class="playlist-block"><img
                src="https://analyticsindiamag.com/wp-content/uploads/2020/10/7d744a684fe03ebc7e8de545f97739dd.jpg"
                alt=""></div>
    </div>

    <button class="glider-next" id="glider-next4">
        <img src="https://s2.svgbox.net/octicons.svg?ic=chevron-right&color=fff" width="32" height="32">
    </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
<script>
    new Glider(document.querySelector('.glider0'), {
        slidesToShow: 5,
        slidesToScroll: 1,
        draggable: true,
        arrows: {
            prev: '#glider-prev0',
            next: '#glider-next0'
        }
    });

    new Glider(document.querySelector('.glider1'), {
            slidesToShow: 5,
            slidesToScroll: 1,
            draggable: true,
            arrows: {
                prev: '#glider-prev1',
                next: '#glider-next1'
            }
    });

    new Glider(document.querySelector('.glider2'), {
            slidesToShow: 5,
            slidesToScroll: 1,
            draggable: true,
            arrows: {
                prev: '#glider-prev2',
                next: '#glider-next2'
            }
    });

    new Glider(document.querySelector('.glider3'), {
            slidesToShow: 5,
            slidesToScroll: 1,
            draggable: true,
            arrows: {
                prev: '#glider-prev3',
                next: '#glider-next3'
            }
    });

    new Glider(document.querySelector('.glider4'), {
            slidesToShow: 5,
            slidesToScroll: 1,
            draggable: true,
            arrows: {
                prev: '#glider-prev4',
                next: '#glider-next4'
            }
    });
</script>
