<div class="header-container">


    <div class="user-tab">
        <img id="search" src="https://s2.svgbox.net/octicons.svg?ic=search&color=fff" width="32" height="32">
        <a href="/users/John">
            <div class="profile-pic"></div>
        </a>
    </div>
</div>