<%- include('./partials/header') %>
<%- include('./partials/sidebar') %>

<main>
    <h1>
        Welcome back John
    </h1>
    <h4>
        We selected these just for you.
    </h4>

    <%- include('./partials/glider') %>
</main>

<%- include('./partials/footer') %>