<%- include('./partials/header') %>

<div class="lost-container">
    <div class="lost">
        <h2>Looks like we're lost</h2>
        <img id="lost-img" src="/images/tools.svg" alt="">
    </div>
</div>



<%- include('./partials/footer') %>