<%- include('./partials/header') %>
    <div id="hero-section">
        <div class="hero-border">
            <div class="logo">
                <h1>Jarv.is</h1>
            </div>
    
            <h2>
                Stop spending money on Udemy courses
            </h4>
            <h3>
                The community driven learning platform
            </h3>
            <div class="buttons">
                <div class="button sign-up-btn">
                    <a href="/dashboard">Sign up</a>
                </div>
                <div class="button more-btn">
                    <a href="">See more</a>
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer') %>