<%- include('./partials/header') %>
<%- include('./partials/sidebar') %>
<%- include('./partials/back') %>
<main>
    <h1>Quiz</h1>
    <h4>Try your best!</h4>

    <div class="quiz-container">
        <h5>Question: Whats the biggest elephant on the planet</h5>
        <fieldset>

        </fieldset>
    </div>
</main>

<%- include('./partials/footer') %>