@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400&family=Ruda&display=swap");

$font2: "Roboto", sans-serif;
$font1: "Roboto Slab", serif;
$font0: "Ruda", sans-serif;

$color6: #ffffff;
$color5: #228cfb;
$color4: #1f6feb;
$color3: #5d5d5d;
$color2: #414141;
$color1: #2b2b2b;
$color0: #1c1c1c;

$padding2: 20px;
$padding1: 40px;
$padding0a: 3em;
$padding0: 6em;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color0;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
  padding: 0 $padding0 0 240px;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 100px;

  h3 {
    color: darken($color6, 40%);
  }

  h4 {
    margin-top: 0.4em;
    color: darken($color6, 30%);
  }
}

h1 {
  font-family: $font0;
  font-size: 80px;
  color: $color6;
  margin: 0.2em 0 0.6em 0;
  line-height: 1.4em;
}

h2 {
  font-family: $font1;
  font-size: 48px;
  color: $color6;
  margin: 1em 0 1em 0;
  line-height: 1.4em;
}

label,
h3 {
  font-family: $font1;
  font-size: 24px;
  color: $color6;
  margin: 1em 0 1em 0;
  line-height: 1.4em;
}

h4 {
  font-family: $font2;
  font-size: 24px;
  font-weight: 400;
  color: $color6;
  margin: 1em 0 1em 0;
  line-height: 1.4em;
}

a,
h5 {
  font-family: $font2;
  font-size: 18px;
  font-weight: 300;
  color: $color6;
  margin: 1em 0 1em 0;
  text-decoration: none;
  line-height: 1.4em;
}

.user-tab {
  position: fixed;
  right: $padding0;
  top: 0;
  max-width: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: $color1;
  padding: 0 $padding2 0 $padding2;
  z-index: 10;

  #search {
    cursor: pointer;
  }

  .profile-pic {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: $padding2;
  }
}

.video-container {
  height: 600px;
  width: auto;
  background-color: black;
}

.playlist-title-container {
  display: flex;

  img {
    align-self: center;
    margin-left: $padding2;
    background-color: $color1;
    border-radius: 50%;

    &:hover {
      background-color: lighten($color1, 10%);
      transition: background-color 0.6s ease-in-out;
      cursor: pointer;
    }
  }
}

.opaque {
  position: fixed;
  background-color: black;
  opacity: 50%;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.header-container {
  position: absolute;
  height: 96px;
  width: auto;
  display: flex;
  align-content: flex;
}

.create-playlist-form {
  background-color: $color1;
  width: 30vw;
  height: 30vh;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
  margin: -15vh 0 0 -15vw;
  border-radius: 15px;
  padding: $padding2;
  animation-name: form-down;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;

  @keyframes form-down {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    label {
      margin-top: 6px;
      margin-bottom: 1.5em;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
      margin: $padding2;

      &:hover {
        cursor: pointer;
      }
    }

    [type="text"] {
      height: 30px;
      text-indent: 1em;
      outline: none;
      margin-bottom: 10px;

      &:hover {
        outline: 2px solid $color5;
      }
    }

    [type="submit"] {
      margin: $padding2 0 0 0;
      background-color: $color0;
      color: $color6;
      padding: $padding2;
      border: 2px solid white;
      border-radius: 30px;
      animation-name: create-playlist-hover;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;

      &:hover {
        cursor: pointer;
        background-color: darken($color4, 0%);
        transition: background-color 0.6s ease-in-out;

        @keyframes create-playlist-hover {
          0% {
            transform: translateY(-15px);
          }
          100% {
            transform: translateY(10px);
          }
        }
      }
    }
  }
}

#back-btn-container {
  align-self: center;
}

#back-btn {
  background-color: $color2;
  border-radius: 50%;
  align-self: center;
  z-index: 10;

  &:hover {
    cursor: pointer;
    background-color: lighten($color2, 5%);
  }
}

#hero-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.hero-border {
  background-color: transparent;
  border: 2px solid $color6;
  position: absolute;
  height: 82vh;
  width: 82vw;
  margin: -41vh 0 0 -41vw;
  top: 50%;
  left: 50%;
  padding: $padding0;
  display: flex;
  flex-direction: column;

  h2 {
    color: darken($color6, 0%);
    width: 50vw;
    line-height: 1.5em;
    margin-bottom: 0;
  }

  h3 {
    color: darken($color6, 35%);
    margin-top: $padding1;
  }

  .logo {
    position: absolute;
    border-left: 2px solid $color6;
    border-right: 2px solid $color6;
    background-color: $color0;
    max-width: 350px;
    height: 90px;
    padding: 0 $padding0a 0 $padding0a;
    text-align: center;
    transform: translateX(0) translateY(-8.5em);

    h1 {
      transform: translateY(-0.3em);
    }
  }
}
.buttons {
  margin-top: $padding0a;
}

.button {
  background-color: $color0;
  display: inline-flex;
  align-items: center;
  align-self: center;
  margin: 0 1em 0 0;

  a {
    padding: 0 $padding1 0 $padding1;
  }
}

.sign-up-btn {
  border: 1px solid $color6;

  &:hover {
    background-color: lighten($color0, 80%);
    transition: background-color 0.2s ease-in-out;
    a {
      color: black;
    }
  }
}

.quiz-title {
  display: flex;
  align-items: center;
  //   border: 2px solid white;

  .stats {
    // border: 2px solid white;
    margin: 0 0 0 $padding0a;
    align-self: center;
    display: flex;
    justify-content: center;

    .substat {
      margin: 0 $padding1 0 0;
    }
  }
}

.more-btn {
  a {
    color: $color5;
  }
}

.quiz-container {
  h5 {
    display: inline-block;
  }

  [type="submit"] {
    margin-top: $padding2;
    padding: $padding2 $padding0a $padding2 $padding0a;
    color: white;
    background-color: $color1;
    border: none;
  }
}

.lost-container {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  //   border: 1px solid white;

  .lost {
    height: 80vh;
    width: 80vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40vh 0 0 -40vw;
    // border: 1px solid white;

    h2 {
      text-align: center;
    }
  }

  #lost-img {
    display: block;
    margin: 0 auto 0 auto;
    height: 500px;
  }
}

form.create-quiz-form {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 3fr;

  label {
    justify-self: left;
  }

  [type="text"] {
    display: block;
  }

  [type="submit"] {
    border: none;
    padding: $padding2;
    background-color: $color0;
    color: $color6;
    border: 2px solid $color6;

    &:hover {
      background-color: $color6;
      color: $color0;
      cursor: pointer;
    }
  }
}
.playlist-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color1;
  height: 100%;
  width: 200px;
  display: flex;
  padding: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;

  .video {
    padding: $padding2;
    align-self: flex-start;
    justify-self: stretch;
    width: 200px;
  }
}

iframe {
  height: 100%;
  width: 100%;
}
